# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Test.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Marta\Desktop\Test\.idea\.idea.Test.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
